
<div class="bookDetail">
	<div class="book">
		<img src="${properties.image.fileReference}" alt="bookCover" />
		<p><span class="label">Title:</span> ${properties.title}</p>
		<p><span class="label">Author:</span> ${properties.author}</p>
		<p><span class="label">Publisher:</span> ${properties.publisher}</p>
		<p><span class="label">ISDN:</span> ${properties.isdn}</p>
		<p><span class="label">Year:</span> ${properties.year}</p>
	</div>
	
	<div class="description">
		<p><span class="label">Description:</span> ${properties.descr}</p>
	</div>
</div>
