

.list .authors li {
	list-style-type: none;
	font-size: larger;
	border-style: solid;
	border-width: 5px;
	border-color: #AAB5BE;
	margin: 5px 5px 5px 5px;
}

.list .authors .genres {
	float: right;
}
